# Remove the .example extension when using this file.
aws_access_key_id     = "your-access-key-id"
aws_secret_access_key = "your-secret-access-key"
tailscale_auth_key    = "your-tailscale-auth-key"  # Get one from https://login.tailscale.com/admin/settings/keys
