#Remote the .example at the end of this file name
aws_access_key_id = "your-access-key-id"
aws_secret_access_key = "your-secret-access-key"
tailscale_auth_key = "tailscale_auth_key" # https://login.tailscale.com/admin/settings/keys (You should use a re-usable one)
